*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
    scroll-behavior: smooth;
}


:root{
    --main-color : #184e77;
    --second-color : #52b69a;
    --font-size: 26px;
    --font-weight:bold;
    --margin-left : 10px;
    --text-color : #eee;
    --margin-v : 60px;
}

h1,h2{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
}




/* start header */



header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--main-color);
    padding: 6px;
    color: var(--text-color);
    z-index: 1000;
    min-width: 100%;
    max-width: 100%;
}

.nav-flex{
    justify-content: space-between;
    margin: 15px 60px;
    flex-wrap: wrap;
}

.nav-flex h3{
    margin: 0 8px;
    padding-bottom: 2px;
    cursor: pointer;
}

.nav-flex h3:hover{
    color: var(--second-color);
}

.nav-flex ul li a{
    margin: 0 8px;
    color: var(--text-color);
    padding-bottom: 2px;
}


.nav-flex ul li a:hover{
    border-bottom: 1px solid var(--second-color);
}





/* start landing section */


.landing{
    min-height: 70vh;
    background-color: var(--second-color);
    justify-content: center;
    align-items: center;
}

.landing div img{
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

.landing p{
    color: var(--text-color);
    letter-spacing: 1.5px;
    margin-top: 0.5rem;
}


/* end landing section */





/* start portfolio section */

.portfolio{
    margin-top: var(--margin-v);
    margin-bottom: var(--margin-v);
}


.portfolio .child{
    justify-content: center;
    gap: 1rem;
    margin-top: 30px;
    max-width: 100%;
}

.portfolio .child img{
    width: 30%;
    max-height: 200px;
    opacity: 0.5;
    border-radius: 10px;
}

.portfolio .child img:hover{
    opacity: 1;
    cursor: pointer;
}


/* end portfolio section */





/* start about section */

.about{
    margin-top: var(--margin-v);
    margin-bottom: var(--margin-v);
    background-color: var(--second-color);
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

.about h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
    color: var(--main-color);
}


.about .parent{
    justify-content: center;
}

.about .parent .child{
    max-width: 40%;
}

.about .parent .child p{
    line-height: 1.5;
    color: var(--text-color);
    margin: 0 1rem;
}

.btn{
    padding: 10px 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    border: 1px solid var(--text-color);
    margin: 30px auto;
    display: block;
    background-color: var(--second-color);
    color: var(--text-color);
}


.btn:hover{
    background-color: var(--main-color);
    cursor: pointer;
}





/* start contact section */


.contact{
    margin-top: var(--margin-v);
    margin-bottom: var(--margin-v);
}

.contact .container form{
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.contact h2{
    margin-bottom: var(--margin-v);
}

.contact form input , textarea{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
}

.contact form input:focus{
    border-bottom: 2px solid var(--second-color);
    outline: none;
}


.contact form textarea:focus{
    border-bottom: 2px solid var(--second-color);
    outline: none;
}

/* end contact section */






footer{
    margin-top: var(--margin-v);
    background-color: var(--main-color);
    padding: 35px 20px;
    color: var(--text-color);
}

footer .parent{
    justify-content: space-between;
}


footer .container h3{
    margin-bottom: 1rem;
    color: var(--second-color);
}


footer .container i{
    border: 1px solid var(--text-color);
    padding: 7px;
    border-radius: 50%;
    color: var(--text-color);
    margin: 0 5px;
}


footer .container i:hover{
    border: 2px solid var(--second-color);
}
footer .parent{
    justify-content: space-between;
    text-align: center;
}

footer .container .child{
    max-width: calc(97% / 3);
}











@media(min-width : 1200px){
    .container{
        width: 1080px;
        margin: 0 auto;
    }
    .contact form input , textarea{
        min-width: 540px;
    }
}


@media(max-width : 992px){
    .contact form input , textarea{
        min-width: 450px;
    }
}





@media(max-width: 480px ){

    body{
        overflow-x: hidden;
    }
    header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .container{
        width: 420px;
        margin: 0 auto;
    }

    .nav-flex{
        text-align: center;
        justify-content: center;
    }
    .nav-flex h3{
        margin-bottom: 10px;
    }
    .child img{
        max-width: 100%;
    }
    .about .parent .child{
        max-width: 50%;
        padding: 10px;
    }
    .contact form input , textarea{
        max-width: 250px;
        min-width: 250px;
        
    }
    .about .parent{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .about .parent .child {
        max-width: 90%;
        padding: 13px;
        font-size: 12px;
    }
    .about .parent .child p{
        margin: 0 2rem;
    }
    footer .parent{
        flex-direction: column;
        
    }
    footer .parent .child{
        text-align: center;
    }
    .portfolio .child{
        flex-direction: column;
        margin-top: 50px;
    }
    footer .container .child{
        max-width: 90%;
        text-align: center;
        margin-top: 1.5rem;
    }
    footer .container .child p{
        margin: 0 1rem;
    }
    .portfolio .child{
        margin: 0 auto;
       
    }
    .portfolio .child img{
        margin: 15px auto;
        max-width: 300px;
        max-height: 200px;
        min-height: 200px;
        min-width: 300px;
        /* margin-left: 5%; */
    }
    .about .parent .child{
        max-width: 95%;
    }
    footer .container h3{
        margin-bottom: 0.5rem;
        color: var(--second-color);
    }
}




.cl-flex{
    display: flex;
}


.tx-center{
    text-align: center;
}
















